<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="Grid.Endpoint" value="http://localhost:4444/wd/hub" />
    <Parameter name="Build.Number" value="development" />
    <Parameter name="Project.Name" value="Gravity API - Action Plugins Package" />
    <Parameter name="Data.ConnectionString" value="Data Source=.\\SQLEXPRESS;Initial Catalog=GravityUnitTests;Integrated Security=True" />
  </TestRunParameters>

  <MSTest>
    <Parallelize>
      <Workers>10</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
  </MSTest>
</RunSettings>